<div class="smooth">
<div class="w3-display-container" id="home">
  <app-slide *ngFor="let slide of slides" class="slide w3-animate-left"
             [class.w3-hide]="slide.hide"
             [src]="slide.asset"
             [text]="slide.title"
             [listenTo]="slide.listen"
             (listenNow)="handleListenNow($event)"
  ></app-slide>
</div>
<div class="min-75 w3-container" id="about">
  <div class="w3-content">
    <div class="w3-margin-top">
      <h2 class="w3-center matilda"><b>About Us</b></h2>
    </div>
    <div class="w3-col s12 m6 l6 w3-padding">
      <p>We strive to be a world class pioneer of concierge software engineering solutions in South Africa &
        abroad for generations to come.</p>
      <p>We are committed to provide high standards in customer service and satisfaction. We will be a caring,
        compassionate, respectful Organization to our colleagues and customers around the world, and strive to
        understand as we want to be understood.</p>
      <p>We shall work cohesively with our colleagues across the group and with our customers and partners around the world,
        building strong relationships& sustaining them through tolerance, understanding and mutual cooperation.
      </p>
    </div>
    <div class="w3-col s12 m6 l6 w3-padding place-center">
      <img src="assets/slides/chris-ried-unsplash.jpg" alt="" class="w3-image w3-margin-top blur-img">
    </div>
    <div class="w3-col s12 w3-padding">
      <h4 class="w3-center">&quot;Our Mission&quot;</h4>
      <p>
        We	conduct our business with integrity ensuring Excellence in Quality , Efficiency, Innovation and Reliability
        as we provide cost competitive and effective solutions. We are committed to our employees, their development and
        empowerment in an environment of openness and mutual trust.
      </p>
      <h4 class="w3-center">&quot;Our Story&quot;</h4>
      <p>
        Just as the Go-away bird is known throughout Southern Africa, we as MMECo seeks to emulate our brand to the
        birds’ load calls across all walks of life in Africa. As MMECo we believe our KUWE™ brand will be visible
        across Southern African through concierge form of engineering products. We also aim to promote nature
        conservation, preservation & environmental awareness, as we strive to find environmentally friendly ways to
        develop African tailor-made solutions.
      </p>
    </div>
  </div>

</div>
<div class="min-75 w3-container" id="services">
  <div class="w3-content ">
    <div class="w3-padding">
      <h2 class="w3-center matilda"><b>Services</b></h2>
    </div>
    <div class="w3-col s12 m6 l6 w3-padding w3-margin-top place-center">
      <img src="assets/slides/mathew-schwartz-unsplash.jpg" alt="" class="w3-image w3-margin-top blur-img">
    </div>
    <div class="w3-col s12 m6 l6 w3-padding w3-margin-top">
      <p> Our business model is built upon a philosophy of innovation through trial and error rather than product
        delivery models whereby we build products when there are technical challenges that need to be solved first
        before trying on another new piece for validation purposes. </p>
      <p>We have recently started using Amazon Web Services
        (AWS) in our cloud solutions because they enable us with unprecedented scalability while still having high
        operational efficiency levels under AWS where costs typically aren't higher or more expensive compared any other
        provider at this level of scale. Our focus is on learning from others' mistakes and improving upon them to
        deliver breakthrough results while retaining our own culture and ethos. We have achieved more than three decades
        in leading technology company based on this core philosophy as well. Our competent software development team
        ensures that the products we provide not only meet your requirements, but often exceed expectations.</p>

    </div>
    <div class="w3-padding">
      <p>We believe in an realistic agile approach. We continuously test and we involve our clients intensively during
        the implementation process, allowing for adjustments that improve the end result.  we deliver customized
        bespoke solutions with specialized capabilities for businesses requiring a highly scalable solution where we
        have expertise across verticals like Information Technology (IT), finance business, eCommerce & financial
        institutions...our clients can look forward daily new innovative experience.
      </p>
      <h4 class="w3-center">Our Team's Service Offerings</h4>
      <div class="w3-third w3-padding">
        <ul class="w3-ul w3-center">
          <li title="AWS, GCP, IBM Cloud, Azure">Cloud Migrations </li>
          <li title="BackEnd, FrontEnd">Software Engineering Consultancy</li>
          <li title="Continuous Delivery, Automation, Software Pipeline Planning">DevOps Consultancy</li>
          <li title="POPIA">POPIA, GDPR Compliance</li>
        </ul>
      </div>
      <div class="w3-third w3-padding">
        <ul class="w3-ul w3-center">
          <li title="MySQL, SQL Server, Prem to Cloud">Data Migrations</li>
          <li title="FTL, STL, CDN">Performance Optimizations</li>
          <Li title="PWA, iOS, ANDROID, SPA">Web & Mobile App Development</Li>
          <li title="Web Development, Web Security, App Development, Performance Metrics">Training</li>
        </ul>
      </div>
      <div class="w3-third w3-padding">
        <ul class="w3-ul w3-center">
          <li>IOT Integrations & Prototyping</li>
          <li title="TensorFlow, PyTorch, Text Recognition, Chat bots">AI Solution Development</li>
          <li>Software Integrations </li>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="w3-row w3-padding">
      <h4 class="w3-center">Our Values</h4>
    </div>
    <div class="w3-third w3-padding">
      <ul class="w3-list">
        <li>INTEGRITY</li>
        <li>TRANSPARENCY</li>
        <li>RESPONSIBILITY</li>
      </ul>
    </div>
    <div class="w3-third w3-padding">
      <ul class="w3-list">
        <li>UNITY</li>
        <li>UNDERSTANDING</li>
        <Li>COMMUNICATION</Li>
      </ul>
    </div>
    <div class="w3-third w3-padding">
      <ul class="w3-list">
        <li>EXCELLENCE</li>
        <li>COMMUNICATION</li>
      </ul>
    </div>
    <div class="w3-col s12">
      <div class="w3-center">
        <button class="w3-button w3-green" (click)="showModalOnClick()">Order A Service</button>
      </div>
    </div>
  </div>


</div>
<div class="min-75 w3-container" id="contact">
  <div class="w3-content">
    <div class="w3-margin-top">
      <h2 class="w3-center">Contact Us</h2>
    </div>
    <div class="w3-col s12 m7 l7 w3-padding">
      <h4 class="w3-center">Information</h4>
      <hr>
      <h5 class="">Office Address</h5>
      <address>
      <ul class="w3-list">
        <li>61 Woodlands Ave</li>
        <li>Hurlingham</li>
        <li>Sandton</li>
        <li>Johannesburg, 2070</li>
      </ul>
      </address>
      <h5>Emails</h5>
      <ul class="w3-ul">
        <li><a class="w3-btn" href="mailto:eng@mukuwemoyoengineering.co.za">eng@mukuwemoyoengineering.co.za</a></li>
        <li><a class="w3-btn" href="mailto:sales@mukuwemoyoengineering.co.za">sales@mukuwemoyoengineering.co.za</a></li>
      </ul>
    </div>
    <div class="w3-col s12 m5 l5 w3-padding">
      <h4 class="w3-center">Leave us a message</h4>
      <hr>
      <form (ngSubmit)="message($event)">
        <div class="w3-half w3-padding">
          <input type="text" class="w3-input" name="name" placeholder="First Name" [(ngModel)]="bookEmail.name"></div>
        <div class="w3-half w3-padding">
          <input type="text" class="w3-input" name="surname" placeholder="Last Name" [(ngModel)]="bookEmail.surname"></div>
        <div class="w3-padding">
          <input type="email" class="w3-input" name="email" placeholder="Email" [(ngModel)]="bookEmail.email"></div>
        <div class="w3-padding">
          <input type="text" class="w3-input" name="subject" placeholder="Subject" [(ngModel)]="bookEmail.subject"></div>
        <div class="w3-padding">
          <textarea class="w3-input" placeholder="Message" name="message" [(ngModel)]="bookEmail.message"></textarea></div>
        <div class="w3-center">
          <button class="w3-btn w3-rainbow">SEND</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<app-nav class="w3-top"></app-nav>
<div class="w3-modal" [class.w3-show]="this.showOrders">
  <div class="w3-modal-content w3-content ">
    <div class="w3-card w3-white w3-content w3-padding">
      <h2 class="w3-center">Order A service<span class="w3-btn close w3-red" (click)="showModalOnClick()">&times;</span></h2>
      <div class="w3-container">
        <form >
          <input type="text" class="w3-input" name="name" placeholder="Name" [(ngModel)]="person.name">
          <input type="text" class="w3-input" name="name" placeholder="Surname" [(ngModel)]="person.surname">
          <input type="email" class="w3-input" name="name" placeholder="Email" [(ngModel)]="person.email">
          <input type="text" class="w3-input" name="name" placeholder="Phone" [(ngModel)]="person.phone">
        </form>
        <div class="w3-row">
          <select name="services" id="sel" class="w3-select w3-col s6" [(ngModel)]="total">
            <option *ngFor="let item of priceList" value="{{item.price}}">{{item.text}}({{item.price}})</option>
          </select>
        </div>
        <div class="w3-row w3-padding">
          <a class="w3-button w3-green" (click)="sendMoney()">Order</a>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="w3-modal" [class.w3-show]="this.showPlayer">
  <div class="w3-modal-content w3-content ">
    <div class="w3-card w3-white w3-content w3-padding">
      <h2 class="w3-center">Thank You For you Purchase<span class="w3-btn close w3-red">&times;</span></h2>
      <div class="w3-container">
        <form (ngSubmit)="sendMoney()"></form>
        <div class="w3-row">
          <select name="services" id="sel" class="w3-select w3-col s6" [(ngModel)]="total">
            <option *ngFor="let item of priceList" value="{{item.price}}">{{item.text}}({{item.price}})</option>
          </select>
        </div>
        <div class="w3-row w3-padding">
          <a class="w3-button w3-green" (click)="sendMoney()">Order</a>
        </div>
      </div>

    </div>
  </div>
</div>

